/* ==============================
            Variables
   ============================== */

$gold-accent: rgb(223, 190, 7);

/* ==============================
              Error Page Styling
   ============================== */

#error-page {
  display: flex;
  flex-direction: column;
  color: $gold-accent;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 20rem;
}
