/* ==============================
            Variables
   ============================== */

   $deep-purple: rgb(91, 9, 129);
   $dark-overlay: rgb(41 0 60 / 96%);
   $gradient-bg: linear-gradient(
     to bottom,
     rgb(55 19 138) 15%,
     rgb(120, 32, 220) 34%,
     rgb(40 5 80) 88%
   );
   
/* ==============================
               Global Styles
   ============================== */
   
   * {
     box-sizing: content-box;
   }
   
   body {
     min-height: 100vh;
     background-color: $dark-overlay;
     background-size: cover;
     background-attachment: fixed;
     box-sizing: border-box;
   
     // Optional: use this if you want the gradient again later
     // background-image: $gradient-bg;
   }
   