/* ==============================
            Variables
   ============================== */

   @use "sass:color";

   $gold-accent: rgb(223, 190, 7);
   $neon-blue: rgb(21, 201, 232);
   $shadow-gold: rgb(223, 190, 7);
   $caption-gradient: linear-gradient(
     to bottom,
     #25034b 31%,
     #37097e 69%,
     #3b0c9d 86%,
     #3c0b8f 117%,
     #490db2
   );
   
   $cellphone-portrait: 390px;
   $tablet-max: 768px;
   
   /* ==============================
                 Layout
      ============================== */
   
   .GlJumpList {
     display: flex;
     height: 100vh;
     margin-top: 2rem;
   }
   
   .GLDropdownButton {
     display: flex;
     padding: 10px;
     margin: 3rem auto 0;
     font-size: 16px;
     cursor: pointer;
     background-color: #f0f0f0;
     border: 1px solid #ccc;
     border-radius: 5px;
     width: 6rem;
     text-align: center;
   
     @media only screen and (max-width: $cellphone-portrait) {
       margin-top: 24rem;
     }
   }
   
   .GLDropDown {
     display: none;
     position: relative;
     width: 20rem;
     max-width: 350px;
     background-color: #000;
     padding: 5px;
     text-align: center;
   
     &.show {
       display: grid;
       margin: 0 auto;
     }
   }
   
   .GLDropDownList {
     display: grid;
     grid-template-columns: repeat(5, 1fr);
     width: 100%;
     max-height: 15rem;
     overflow-y: auto;
     cursor: pointer;
   }
   
   /* ==============================
                Headings
      ============================== */
   
   .glAlphabetical {
     display: flex;
     justify-content: center;
     font-size: 19px;
     margin: 10px auto;
     text-decoration: none;
   
     @media only screen and (max-width: $cellphone-portrait) {
       margin: 5px 5px 5px 7px;
       font-size: 21px;
     }
   }
   
   .mainHeading {
     color: $neon-blue;
     font-size: 40px;
     margin: 50px 0 10px 17rem;
   
     @media only screen and (max-width: $cellphone-portrait) {
       text-align: center;
       margin: 2rem 0;
       margin-left: 0;
       font-size: 34px;
       color: rgb(255, 196, 0);
       text-shadow: 4px 4px 4px #000;
     }
   }
   
   .subHeading {
     justify-content: left;
     margin: 20px 0 35px 21rem;
     color: $gold-accent;
   
     @media only screen and (max-width: $cellphone-portrait) {
       display: flex;
       justify-content: center;
       margin: 0.5rem 0 2rem;
       margin-left: 0;
       font-size: 20px;
     }
   }
   
   /* ==============================
                 XP Section
      ============================== */
   
   .xp {
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 1536px;
     margin: 0 auto;
   
     @media only screen and (max-width: $cellphone-portrait) {
       max-width: 21.5rem;
       margin: 0 0 1rem;
     }
   }
   
   .xpTitle {
     display: flex;
     justify-content: space-evenly;
     width: 100%;
     color: $gold-accent;
     font-size: 20px;
     padding: 20px;
     background-color: black;
     flex-wrap: nowrap;
     border: 2.2px solid $neon-blue;
     margin-bottom: 4.5rem;
     box-shadow: 0 0 7px 8px $shadow-gold;
   
     @media only screen and (max-width: $cellphone-portrait) {
       font-size: 20px;
       margin-bottom: 0;
     }
   }
   
   .xpRequirement {
     color: $gold-accent;
     font-size: 20px;
   
     @media only screen and (max-width: $cellphone-portrait) {
       font-size: 20px;
       padding-left: 6rem;
     }
   }
   
   /* ==============================
                 Miscellaneous
      ============================== */
   
   .Top {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 0;
     margin-bottom: 0;
   }
   
   .BackToTop {
     display: flex;
     font-size: 1.5rem;
     margin: 2.8rem 0 2rem;
   
     @media only screen and (max-width: $cellphone-portrait) {
       position: relative;
       margin-bottom: 2.5rem;
     }
   }
   
   /* ==============================
               Car Images
      ============================== */
   
   .CarImagesContainer {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
     max-width: 100%;
   
     @media only screen and (max-width: $cellphone-portrait) {
       flex-direction: column;
       max-width: 85%;
     }
   }
   
   .CarImages {
     display: flex;
     justify-content: center;
     margin: 0 22px 30px;
     width: 32rem;
     height: 15rem;
     border: 3px solid #000;
     box-shadow: 0 0 7px 4px $shadow-gold;
   
     @media only screen and (max-width: $cellphone-portrait) {
       margin: 3rem auto 30px;
       width: 20rem;
       height: 9.5rem;
     }
   }
   
   .CarImagesCaption {
     display: flex;
     justify-content: center;
     color: white;
     font-size: 20px;
     background-image: $caption-gradient;
     box-shadow: 0 0 7px 4px $neon-blue;
     border-radius: 8px;
     width: 79%;
     padding: 10px 15px;
     margin: 0 auto;
     text-align: center;
   }
   
   /* ==============================
               Breakpoints Stub
      ============================== */
   
   @media only screen and (max-width: $tablet-max) {
     // Reserved for tablet-specific styles
   }
   