/* =============================
   Variables
   ============================= */
   $back-to-top-font-size: 1.4rem;
   $back-to-top-margin-bottom: 2.2rem;
   $back-to-top-button-color: rgb(255, 196, 0);
   $back-to-top-button-padding: 0.5rem;
   
   $cellphone-portrait: 390px;
   $cellphone-landscape: 390px;
   
   /* =============================
      Back To Top Layout
      ============================= */
   .BackToTop {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: $back-to-top-margin-bottom;
     font-size: $back-to-top-font-size;
   
     @media only screen and (max-width: $cellphone-portrait) and (orientation: portrait) {
       /* Media query content to be added later */
     }
   
     /* =============================
         Back To Top Button
         ============================= */
     .back-to-top-button {
       display: flex;
       color: $back-to-top-button-color;
       font-style: italic;
       padding: $back-to-top-button-padding;
       cursor: pointer;
     }
   }
   